<!DOCTYPE html>
<!--Atributo html, pode receber valores-->
<html lang="pt-br">
  <head>
    <!--CSS entrou no head-->
    <meta charset="UTF-8" />
    <!--tags com fechamento automático meta + conjunto de caracteres-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Para o dispositivo pc/mobile se adaptar ao projeto-->
    <title>Happy</title>
    <link rel="icon" href="/images/logo-icon.png" />
    <!--tag para linkar um atributo ícone-->
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="stylesheet" href="/css/page-landing.css" />
    <!--Peguei no google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">
  </head>

  <!--Especificidade, por conta do id body, este será buscado no css e terá prioridade-->
  <body id="body">
    <div id="page-landing">
      <div id="container">
        <header>
          <!--Cabeçalho-->
          <img class="animate-up" id="logo" src="/images/logo.svg" alt="Logomarca de Happy" />
          <!--Caminho e -->

          <div class="location animate-up">
            <!--div é uma caixa sem objetivo claro-->
            <strong>Três Pontas</strong>
            <p>
              <!--Parágrafo-->
              <strong>ESTADO</strong>
              Minas Gerais
            </p>
          </div>
        </header>

        <main>
          <!--Parte principal da página-->
          <h1 class="animate-up">
            <!--Colocar títulos-->
            Leve felicidade para o mundo
          </h1>
          <section class="visit">
            <!--Sessão-->
            <p class="animate-up">Visite orfanatos e mude o dia de muitas crianças</p>
            <a href="/orphanages" title="Visite orfanatos" class="animate-up"><!--Leva a algum lugar na web-->
              <img src="/images/arrow.svg" alt="Ir para o mapa" />
            </a>
          </section>
        </main>
      </div>
    </div>
  </body>
</html>

<!--
    HTML
    Com ele desenvolvemos a estrutura do layout
    Hypertext
        hipertexto - apresenta links
    
    Markup
        Marcação <tags>

    Language
        Linguagem - somente de marcação
        Não é uma linguagem de programação
-->
